<ng-template appRef></ng-template>

<table class="calendare">
  <thead>
    <tr>
      <th>m</th>
      <th>t</th>
      <th>w</th>
      <th>t</th>
      <th>f</th>
      <th>s</th>
      <th>s</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let week of calendar">
      <td *ngFor="let day of week.days" [class.disabled]="day.disabled" (click)="select(day)">
        <span [class.selected]="day.selected" [class.active]="day.active">
          {{day.value | moment:'D'}}
        </span>
      </td>
    </tr>
  </tbody>
</table>
