mat-form-field {
  width: 55%;
  margin-right: 5px;
  box-sizing: border-box;
}

div[mat-dialog-content] {

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: initial;
    background: transparent;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    width: 5px;
    height: initial;
    background: transparent;
    padding-right: 10px;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    margin-right: 10px;
    width: 5px;
    height: 15px;
    background-color: #b6b6b6c2;

    border-radius: 50px;
  }
}

button[mat-stroked-button] {
  width: 40%;
  box-sizing: border-box;
}
