.auth {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  box-sizing: border-box;
  padding: 60px 0;
  position: relative;

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    overflow: hidden;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  &__cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px darken(#0040C1, 8%);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;

    &:nth-child(2n) {
      border-color: lighten(#0040C1, 10%);
    }

    &:nth-child(2) {
      animation-delay: 2s;
      left: 25vw;
      top: 40vh;
    }

    &:nth-child(3) {
      animation-delay: 4s;
      left: 75vw;
      top: 50vh;
    }

    &:nth-child(4) {
      animation-delay: 6s;
      left: 90vw;
      top: 10vh;
    }

    &:nth-child(5) {
      animation-delay: 8s;
      left: 10vw;
      top: 85vh;
    }

    &:nth-child(6) {
      animation-delay: 10s;
      left: 50vw;
      top: 10vh;
    }
  }

  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }

    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  .card {
    position: relative;
    z-index: 2;
    display: flex;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 6px 7px 13px #00000036;

    // mobile-settings
    width: 90%;
    flex-direction: column;

    &__img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #e3e6ed;
      background: #fff;

      img {
        display: inline-block;
        width: 70%;
      }

      // mobile-settings
      width: 100%;
    }

    &__content {
      background: #f3fbff;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      align-items: center;

      // mobile-settings
      padding: 30px;
      width: 100%;
    }

    &__text {
      width: 100%;
      // mobile settings 
      margin-top: 30px;
      margin-bottom: 25px;

      h2 {
        margin: 0;
        font-weight: 300;
        margin-bottom: 20px;

        // mobile-settings
        font-size: 1.5rem;
      }

      p {
        margin: 0;
        font-weight: 300;

        // mobile-settings
        font-size: 0.8rem;
        line-height: 1
      }

    }

    &__outlet {
      width: 100%;
    }
  }

  @media screen and (min-width: '426px') {
    .card {
      &__img {
        img {
          width: 30%;
        }
      }
    }
  }

  @media screen and (min-width: '1025px') {
    .card {
      flex-direction: row;
      width: 60%;

      &__img {
        width: 50%;

        img {
          width: 70%;
        }
      }

      &__content {
        width: 50%;
      }

      &__content {
        padding: 60px
      }

      &__text {
        margin-top: 60px;
        margin-bottom: 50px;
        width: 100%;

        h2 {
          margin: 0;
          font-size: 3rem;
          font-weight: 300;
          margin-bottom: 20px;
        }

        p {
          margin: 0;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}
