<section class="main">
  <div class="main__settings" [class.main__settings--close]="asideSettingsClose"
    [class.main__settings--small]="asideMini || isMobileDevice">
    <mat-slide-toggle *ngIf="!isMobileDevice && !asideMini" [(ngModel)]="asideFixed" value="asideFixed">Fixed
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="asideMini" value="asideMini">Mini</mat-slide-toggle>
    <div class="arrow" (click)="toggleSettings()">
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>

  <aside class="main__aside aside" [class.main__aside--close]="asideClose && !asideFixed && !asideMini"
    [class.aside--mini]="asideMini">
    <div class="aside__user">
      <div class="aside__avatar ">
        <img src="../../assets/avatar.png" alt="">
      </div>

      <h3 class="aside__name">
        Alex Shaw
      </h3>

      <p class="aside__location">
        Ho Chi Minh City, Vietnam
      </p>

      <span class="aside__status">
        student
      </span>
    </div>

    <ul class="aside__list">
      <li class="aside__li" *ngFor="let li of navLinks" [routerLink]="['/', li.path]"
        routerLinkActive="aside__li--active" (click)="sideNavToggle($event, true)">
        <mat-icon>{{li.icon}}</mat-icon>
        <span>{{li.label}}</span>
      </li>
    </ul>
  </aside>

  <div class="main__container" (click)="sideNavToggle($event, true)">
    <div class="main__tollbar">
      <mat-icon (click)="sideNavToggle($event)" mat-button *ngIf="!asideFixed && !asideMini">menu</mat-icon>
    </div>

    <div class="main__content">
    </div>
  </div>
</section>
