<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">

    <mat-error *ngIf="form.get('email').touched && form.get('email').invalid">
      <span *ngIf="form.get('email').errors.required">
        Email is <strong>required</strong>
      </span>

      <span *ngIf="form.get('email').errors.email">
        Please enter a valid email address
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" formControlName="password">

    <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
      <span *ngIf="form.get('password').errors.required">
        password is <strong>required</strong>
      </span>

      <span *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{ form.get('password').errors.minlength.requiredLength }}
        символов. Сейчас он
        {{ form.get('password').errors.minlength.actualLength }}
        символов
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirm password" formControlName="repeatPassword">

    <mat-error *ngIf="form.get('repeatPassword').touched && form.get('repeatPassword').invalid">
      <span *ngIf="form.get('repeatPassword').errors.required">
        Confirm password
      </span>

      <span *ngIf="form.get('repeatPassword').errors.compare">
        Пароли не совпадают
      </span>
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Click</button>
  <button mat-button color="primary" [routerLink]="['/auth', 'sign-in']" [queryParams]="{role: 'student'}">Remembered
    password?</button>
</form>
