.dashboard {
  display: flex;
  flex-wrap: wrap;

  // Начинается веселье
  display: grid;
  grid-template-columns: 100%;

  &__card {
    min-height: 39vh;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 35px;

    &--long {
      grid-column: 1 / -1;
    }
  }

  @media screen and (max-height: 760px) {
    &__card {
      min-height: 265px;
    }
  }

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));

    &__card {
      margin: 0 12.5px;
      margin-bottom: 35px;

      &--long {
        grid-column: 1 / 3;
      }
    }
  }

  @media screen and (min-width: 1288px) {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

.announcement {
  position: relative;

  &__header {
    height: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    box-sizing: border-box;
  }

  &__heading {
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0;
      padding: 0;
      color: #0288d1;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      color: #03a9f4;
      font-weight: 500;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  &__filter {
    display: flex;
    align-items: center;

    p {
      padding: 4px 7px;
      border-left: 3px solid #03a9f4;
      color: #727272;
      font-size: 1rem;
      margin-left: 26px;

      &:nth-child(2) {
        border-left: 3px solid #ffc107;
      }
    }
  }

  &__list {
    position: absolute;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
  }

  &__item {
    height: 60px;
  }

  .announcement-item {
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 0 14px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 4px solid #03a9f4;

    &--teacher {
      border-right: 4px solid #ffc107;
    }

    &__view {
      color: #727272;
      text-align: center;
      margin-right: 21px;

      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 0.9rem;
        font-weight: 700;
      }

      mat-icon {
        font-size: 1.1rem;
        height: initial;
      }
    }

    &__text {
      font-size: 1rem;
      margin-right: 70px;

      h4 {
        margin: 0;
        padding: 0;
        color: #212121;
        font-weight: 500;
      }

      p {
        display: inline-block;
        margin: 0;
        padding: 0;
        color: #727272;
        position: relative;
        height: 18px;
        overflow: hidden;

        &:after {
          content: '...';
          font-size: 1rem;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background: #fff;

        }
      }
    }
  }
}
