@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary: mat-palette('red') html;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0;
  height: 0;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  overflow: hidden;
}